[submodule "pkgs/evil-rebellion"]
	path = pkgs/evil-rebellion
	url = git@github.com:jedahu/evil-rebellion.git
[submodule "pkgs/evil-scout"]
	path = pkgs/evil-scout
	url = git@github.com:jedahu/evil-scout.git
[submodule "pkgs/purscheck"]
	path = pkgs/purscheck
	url = git@github.com:spion/purscheck.git
